@{
    ViewData["Title"] = "Contoso University";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to Contoso University</h1>
        <img src="~/img/university.jpg" alt="University Photo" width="600" height="400" />
        <p>
            Our site allows students to enroll in classes at Contoso Univserity
        </p>
    </div>
